{% extends 'layout.html.twig' %}

{% block title %}{{ 'Sign up'|trans }}{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>

{% if form_errors(userForm.password.first) %}
<div class="alert alert-danger">
    {{ form_errors(userForm.password.first) }}
</div>
{% endif %}
<div class="well">
{{ form_start(userForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        <div class="col-sm-5 control-label">
            {{'Last name'|trans}}
        </div>
        <div class="col-sm-4">
            {{ form_errors(userForm.userlastname) }}
            {{ form_widget(userForm.userlastname, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-5 control-label">
            {{'First name'|trans}}
        </div>
        <div class="col-sm-4">
            {{ form_errors(userForm.username) }}
            {{ form_widget(userForm.username, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>  
    <div class="form-group">
        <div class="col-sm-5 control-label">
            {{'Address'|trans}}
        </div>
        <div class="col-sm-4">
            {{ form_errors(userForm.address) }}
            {{ form_widget(userForm.address, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div> 
    <div class="form-group">
        <div class="col-sm-5 control-label">
            {{'Zip code'|trans}}
        </div>
        <div class="col-sm-4">
            {{ form_errors(userForm.zip) }}
            {{ form_widget(userForm.zip, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div> 
        <div class="form-group">
        <div class="col-sm-5 control-label">
            {{'City'|trans}}
        </div>
        <div class="col-sm-4">
            {{ form_errors(userForm.city) }}
            {{ form_widget(userForm.city, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div> 
        <div class="form-group">
        <div class="col-sm-5 control-label">
            {{'Email'|trans}}
        </div>
        <div class="col-sm-4">
            {{ form_errors(userForm.email) }}
            {{ form_widget(userForm.email, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div> 
    
    <div id="password" class="form-group">
        {{ form_label(userForm.password.first, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label',
        }}) }}
        <div class="col-sm-4">
            {{ form_widget(userForm.password.first, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div  id="passwordConfirm" class="form-group">
        {{ form_label(userForm.password.second, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_widget(userForm.password.second, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.role, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-2">
            {{ form_errors(userForm.role) }}
            {{ form_widget(userForm.role, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-3">
            <input type="submit" class="btn btn-primary" value="{{ 'Sign up'|trans }}" />
        </div>
    </div>
{{ form_end(userForm) }}
</div>
{% endblock %}
{% block js %}
    //Bad manner to change the text, but best way found here
    $(document).ready(function(){
        var locale ="{{ app.locale }}";
        if(locale == 'fr_FR'){
            $('#password label').text('Mot de passe');
            $('#passwordConfirm label').text('Mot de passe (Confirmation)');
            $('#user_role option').eq(0).text('Utilisateur');
        }
        
    });
    
{% endblock %}